body {
  font-family: Arial, sans-serif;
  background: #F0F0F0;
  color: #BFBFBF;
  padding: 0;
  margin: 0;
  font-size: 13px;
}

pre {
  tab-size: 2;
}

h1, h2 {
  margin: 0;
}

h1 {
  box-shadow: 0 4px 0 0 rgba(0, 0, 0, 0.1);
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}

h2 {
  font-size: 13px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.4);
  -webkit-transition: all 0.2s;
     -moz-transition: all 0.2s;
          transition: all 0.2s;
}

a:hover {
  color: #000;
}

ol {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

ol li {
  height: 19px;
  padding-top: 7px;
  vertical-align: middle;
}
ol li.with-input {
  padding-top: 0;
  height: 26px;
  margin-top: 3px;
}
ol li.for-input {
  margin-top: 3px;
}

input[type=text] {
  border: 0;
  padding: 2px 4px;
  width: 69px;
  color: #4D4D4D;
  font-weight: bold;
  font-size: 14px;
  height: 22px;
}
input[type=text]:focus {
  outline: none;
  box-shadow: inset 0 0 0 2px #6CC3FF;
}

input[type=radio] {
  width: 18px;
  position: relative;
  font-size: 1px;
}
input[type=radio]:after {
  background: #fff;
  position: absolute;
  top: -5px;
  left: -2px;
  border-radius: 9px;
  width: 18px;
  height: 18px;
  content: ' ';
}
input[type=radio]:checked:after {
  background: #6CC3FF;
  box-shadow: inset 0 0 0 2px #568aaf;
}

.content {
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: center;
  justify-content: center;
}

.main-header {
  background: #535962;
}

.main-header h1 {
  padding: 15px 0;
  background: #ff8786;
  text-align: center;
  text-transform: uppercase;
}

.main-header h1 span {
  font-size: 11px;
  color: #cc6c6b;
  line-height: 24px;
  margin: 0 5px;
}

.main-header h1 .logo {
  font-size: 24px;
  color: #fff;
}

.main-header h1 a {
  font-size: 11px;
  line-height: 24px;
  color: #995150;
}
.main-header h1 a:hover{
  color: #fff;
}

.main-header h2 {
  background: #42474e;
  color: rgba(187, 216, 236, 0.44);
}

.main-header h2 .config {
  padding: 15px 10px;
  width: 57px;
  background: #393c41;
  display: inline-block;
}
.main-header h2 .code {
  padding: 15px 10px;
  background: #303338;
  display: inline-block;
}

.config {
  width: 77px;
}

.code {
  margin: 0;
  width: 325px;
  padding: 10px;
  font-size: 12px;
}

.main-content aside {
  padding-top: 10px;
  font-weight: bold;
  text-transform: uppercase;
}

.main-content .config-labels {
  text-align: right;
  margin-right: 20px;
  width: 170px;
}

.main-content .who {
  margin-left: 20px;
  width: 170px;
  font-size: 11px;
  line-height: 14px;
}
.main-content .who .twitter-share-button {
  display: block;
  margin-bottom: 10px;
}

.main-content .config {
  padding-top: 10px;
  background: #d8d8d8;
  height: 500px;
}

.main-content .config li {
  text-align: center;
}

.main-content .code {
  background: #c3c3c3;
  color: #373737;
}
